@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

/* Color1 #78CEBA */
/* Color2 #479D89 */
/* Color3 #FFFFFF */
/* Color4 #13292A */
/* Color5 #1F6757 */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Bai Jamjuree;
}